#main
{
position: relative;
display: flex;
flex-wrap: wrap;
margin: 0px;
padding: 0;
border: thick solid green;
align-items: start;
}
#imageContainer
{
position: relative;
height: 518px;
width: 640px;
margin: 20px;
}
#frameContainer
{
display: flex;
align-items: baseline;
position: relative;
top: 0;
left: 0;
height: 518px;
width: 640px;
padding: 0;
margin: 0;
border: none;
}
#maskingDiv1
{
height: 400px;
width: 640px;
padding: 0;
border: 0;
position: absolute;
top: 0;
left: 0;
background-color: lightgray;
}
#rotate_left, #rotate_right
{
display: flex;
align-content: center;
justify-items: center;
position: absolute;
top: 0;
height: 400px;
width: 40px;
opacity: 0;
z-index: 50;
font-size: 400%;
border: none;
}
#rotate_left span, #rotate_right span
{
display: block;
align-self: center;
justify-self: center;
color: yellow;
}
#rotate_left:hover, #rotate_right:hover
{
opacity: .5;
}
#rotate_left
{
left: 0;
}
#rotate_right
{
right: 0;
}
#rotate_left p, #rotate_right p
{
height: 40px;
align-self: center;
margin: 0;
padding: 0;
border: 0;
line-height: 1;
}
#maskingDiv1.transparent
{
opacity: 0;
}
#maskingDiv2
{
position: absolute;
top: 400px;
left: 0px;
height: 118px;
width: 640px;
background-color: lightyellow;
opacity: 1;
font-family: sans-serif;
font-style: default;
font-weight: default;
font-size: 80%;
}
#maskingDiv2.transparent
{
display: none;
}
#maskingDiv2 > *
{
line-height: 1.3;
margin: 0 0 0 2em;
}
#infoContainer
{
display: flex;
flex-direction: column;
height: 500px;
width: 25%;
justify-content: center;
margin: auto;
}
#filterPanel
{
position: absolute;
top:0;
width: 100%;
max-height: 240px;
background: lightgreen;
display: none;
}
#filterContainer
{
position: static;
width: 100%;
background: lightblue;
column-count: auto;
column-width: 16em;
}
#filter
{
align-self: center;
justify-self: center;
margin: .5em;
}
#filterContainer button, #filterPanel button
{
width: 15em;
height: 2em;
margin: 4px auto;
}
#filterContainer button.active
{
background: lightgreen;
}
#showID
{
position: absolute;
bottom: 118px;
right: 40px;
height: 4em;
width: 140px;
opacity: .6;
}
#filterPanel
  {
    z-index: 55;
  }
